<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCI-RXX0xcXSU65sdG0Ej73aPUj3PN_z7g</string>
	<key>GCM_SENDER_ID</key>
	<string>200255825364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthMate</string>
	<key>PROJECT_ID</key>
	<string>health-mate-7885e</string>
	<key>STORAGE_BUCKET</key>
	<string>health-mate-7885e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200255825364:ios:20dcef5d4fbe8b800a6241</string>
</dict>
</plist>